.add-button {
  background-color: blue;
  color: white;
  height: 50px; 
  width: 150px; 
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.edit-button {
  margin-right: 10px;
  background-color: green; 
  color: white;
  height: 50px; 
  width: 150px; 
  cursor: pointer;
}
.delete-button {
  background-color: red;
  color: white;
  height: 50px; 
  width: 150px; 
  cursor: pointer;
}